---
# mentions.html
---
<!DOCTYPE HTML>
<html>

    {% include head.html %}

    <body>

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <header id="header" class="alt">
                <span class="logo"><img src="images/logo.svg" alt="" /></span>
                <p><font color="black">Expert en études rhéologique et mécanique.</font></p>
            </header>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="index.html" class="active"><b>Revenir vers la page principale</b></a></li>
                </ul>
            </nav>

            <!-- Main -->
            <div id="main">

                <!-- Content -->
                <section id="content" class="main">
                    <h2>Éditeur du site</h2>
                    <p>Promold EURL<br>42 rue Boursault<br>75017 Paris<br>+33(0) 1 44 70 08 10<br>SIRET : 424 482 917</p>
                    <h2>Directeur de publication</h2>
                    <p>Jean-Francois Luyé</p>
                    <p>Le site promold.fr relève de la législation française et internationale sur le droit d'auteur. Tous les droits de reproduction et de représentation sont réservés à Promold et ce compris les iconographies et les photographies.</p>
                </section>
            </div>

            {% include footer.html %}

        </div>
    </body>
</html>
